

:root {
    --primary-color: #011627ff;
    --secondary-color: #FFF9EE;
    --accent1-color: #426088;
    --accent2-color: #011627ff;   
 
   
}



body {    
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
     font-style: normal;
     font-variation-settings:    "wdth" 85.1;
     height: 5000px;
}

/* 

h1, h2, h3, h4, h5, h6 {
    
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding-left: 25px;
}

nav {
    background-color: var(--accent2-color);
    font-size: 1.2rem;
    display: flex;
} */

/* nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
} */
