/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    


}



/* 
.roboto-<uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 85.1;
}
 */






/* BODY */
body {    
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
     font-style: normal;
     font-variation-settings:    "wdth" 85.1;

}

/* HEADER */
header {    
    background-color: rgb(224, 181, 117);   
    text-align: center;
}

header span{
    font-size: 1.5rem;
    color: black;
    
    
}

/* NAVIGATION */
.navigation {
    list-style: none;
    display: flex;
    background-color: black;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: #444;
}

/* MAIN */
main {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    grid-column: span 2; /* This makes the heading span across both columns */
}







/* CARDS */
.card1,
.card2 {
    border: 1px solid rgb(139, 87, 9);
    border-radius: 1rem;
    overflow: hidden;
    background-color: white;
}


/* CARD HEADINGS */
.card1 h2,
.card2 h2 {
    background-color: rgb(224, 181, 117);
    padding: 1rem;
    text-align: center;
}

/* ABOUT SECTION */
.about-content {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.about-content img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

/* ARTICLE */
article {
    padding: 1rem;
    text-align: center;
}

article img {
    margin: 1rem 0;
}

article div {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
 article h3 {

    border-bottom: 1px  solid rgb(139, 87, 9);

    padding: 0.5rem;

    }





/* LINKS */
.links {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: darkblue;
}

/* FOOTER */
footer {
    background-color: wheat;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

    .cards-container {
        flex-direction: column;
    }
    main {
        display: block;
        gap: 1rem;
    }

    .card2 {
        margin-top: 1rem;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .country-details {
        display: block
    }
}